{% extends "base_questionnaire.html" %}



{% block content %}
	<title>{% block title %}questionanswer display group {{questiongroup_id}} {% endblock %}</title>
	{%csrf_token %}

    
    <p><h3>Questionnaire : {{questionnaire.name}}     Questiongroup: {{questiongroup_id}}  </h3></p>
	<p><h3>  user: {{request.user}}</h3></p>
     
    {% for question,answer in questionanswer %}
    
    	<strong><p>Question id : {{question.id}} , Question:{{question.label|capfirst}}</p></strong>
		<div>Answer:{{ answer }} </div><br>
	{% endfor %}
	
	
		{% if questionanswer %}
    	
   		{% if groups_list %}
     		<h4> Other QuestionGroups in {{questionnaire.name}}</h4>
    		<ul>
    		{% for group in groups_list %}
    			{% ifnotequal questiongroup_id group.id %} 
     			<li><a href="{% url display_question_answer questionnaire.id group.id  %}">Display answer questiongroup : {{group.id}}</a></li>
    			{% endifnotequal %}
    		{% endfor %}
    		</ul>
    	{% else %}
    		<p>No group available in this questionnaire.</p>
    	{% endif %}
	{%else%}
		The group enter is not valid questiongroup  has no question answer
   	{%endif%}
{% endblock %} 
      
   

    



