{% extends "base_questionnaire.html" %}
               

	

	 
{% block content %}
	|	<a href="#display">Display Question Answers</a>	|	<a href="#edit">Edit Question Answers</a>	|
	<title>{% block title %}{{questionnaire.name}} detail{% endblock %}</title>
	<a name="top"><h3>{{questionnaire.name}} detail</h3></a>
	{%csrf_token %}  
    	{% if  groups_list %}     
        	<p><h3>Questionnaire: {{questionnaire.name}}  user: {{user}}</h3></p>
        	<ul>	
        		<a name="display"><h4>Display Question Answers</h4></a> 	
                    {% for group in  groups_list %}
                    	<li><a href="{% url display_question_answer  questionnaire.id  group.id  %}">Show Answer QuestionGroup : {{group.id }}</a></li>
                    {% endfor %}
                    <a href="#top">Back to top</a>
                <a name="edit"><h4>Edit Question Answers</h4></a> 
                    {% for group in  groups_list %}
                     	<li> <a href="{% url edit_question_answer  questionnaire.id  group.id  %}">Edit QuestionGroup : {{group.id }}</a></li>
                	{% endfor %}
                	<a href="#top">Back to top</a>
           	</ul>          
		{% else %}
        	<ul>
             	<li>Sorry, no group in this questionnaire.</li>
            </ul>     
        {% endif %}
{% endblock %}  
                 