{% extends "base_questionnaire.html" %}


{% block content %}
<title>{% block title %}Question Form : {{questionnaire.name}} {{questiongroup}}{% endblock %}</title>
<form method="post" action=".">
	{%csrf_token %}


	<h2>Questionnaire Name: {{questionnaire.name}}</h2>
	<h3>QuestionGroup :{{questiongroup}}</h3>
	<h4>User :{{request.user}}</h4>

	
	{% for field in form %} 
    	<p>{{ field.label_tag }}: {{ field }} <strong>{{ field.errors }}</strong></p>
	{% endfor %}

<input type="hidden" name="questiongroup" value="{{questiongroup}}" />
 
<input type="submit"  value="{{submit}}" />


</form>

{% endblock %}
