{% extends "base_questionnaire.html" %}



{% block content %}
	<title>{% block title %}Questionnaire Index - user : {{request.user}}{% endblock %}</title>
	<h1>Questionnaire Index</h1>
	<h3>user : {{request.user}}</h3>
	{% if group_list %}
	<h4>Try questionnaire</h4>
	
		
         {% for x in group_list %}
         <li> <a href="qs/{{ x.id }}/">Questionnaire : {{ x.name }}</a></li>
                     
         {% endfor %}
             
     	<h4>Check/Edit your answered Questionnaire</h4>
         {% for x in group_list %}
         <li> <a href="{{x.id }}">Questionnaire : {{x.name }}</a></li>
         {% endfor %}   
      
         
         
		<h4>Show questionnaire answers trail</h4>
         {% for x in group_list %}
         <li> <a href="trailquestionanswers/{{user.id}}/{{ x.id }}/1">Questionnaire : {{ x.name }}</a></li>
                     
         {% endfor %}           
         

                     
           
	{% endif %}
{% endblock %}
