{% extends "base_questionnaire.html" %}



{% block content %}
	<title>{% block title %}user : {{user}} - Index{% endblock %}</title>
	<h1>Questionnaire Index</h1>
	<h1>user : {{user}}</h1>
	{% if group_list %}
	<h2>Try questionnaire</h2>
	
		
         {% for x in group_list %}
         <li> <a href="qs/{{ x.id }}/">Questionnaire Name : {{ x.name }}</a></li>
                     
         {% endfor %}
             
     	<h2>Check your answered Questionnaire</h2>
         {% for x in group_list %}
         <li> <a href="{{x.id }}">Questionnaire Name : {{x.name }}</a></li>
         {% endfor %}   
      
         
         
		<h2>Show questionnaire answers trail</h2>
         {% for x in group_list %}
         <li> <a href="trailquestionanswers/{{user.id}}/{{ x.id }}/1">Questionnaire Name : {{ x.name }}</a></li>
                     
         {% endfor %}           
         

                     
           
	{% endif %}
{% endblock %}
